src/main/app/mule-splitter-aggregator.xml
<?xml version="1.0" encoding="UTF-8"?>

    <mule
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
        xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
        <http:listener-config name="splitter-endpoint" host="0.0.0.0" port="8081" basePath="/splitter" doc:name="HTTP Listener Configuration" connectionIdleTimeout="5000"/>
        <mulexml:namespace-manager includeConfigNamespaces="true">
        	<mulexml:namespace prefix="itm" uri="http://schemas.goochjs.org/item-v1"/>
        </mulexml:namespace-manager>
    <jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
        
        <flow name="mule-splitter-aggregatorFlow">
    	    <http:listener config-ref="splitter-endpoint" path="/" allowedMethods="post" doc:name="HTTP">
            <http:response-builder statusCode="#[flowVars['statusCode']]" reasonPhrase="#[flowVars['reason']]"/>
        </http:listener>
        	<splitter expression="#[xpath3('/itm:ItemList/itm:Item', payload, 'NODESET')]" doc:name="Splitter"/>
        <logger message="#[payload]" level="INFO" doc:name="Post-split logger" category="post-split"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <choice doc:name="Route by action">
            <when expression="#[xpath3('/itm:Item/attribute::action', payload, 'STRING') ==&quot;create&quot;]">
                <jms:outbound-endpoint exchange-pattern="request-response" queue="item-create" connector-ref="Active_MQ" mimeType="text/xml" doc:name="item-create"/>
            </when>
            <when expression="#[xpath3('/itm:Item/attribute::action', payload, 'STRING') ==&quot;update&quot;]">
                <jms:outbound-endpoint exchange-pattern="request-response" queue="item-update" connector-ref="Active_MQ" doc:name="item-update"/>
            </when>
            <when expression="#[xpath3('/itm:Item/attribute::action', payload, 'STRING') ==&quot;delete&quot;]">
                <jms:outbound-endpoint exchange-pattern="request-response" queue="item-delete" connector-ref="Active_MQ" doc:name="item-delete"/>
            </when>
            <otherwise>
                <component class="org.goochjs.muleSplitterAggregator.ThrowException" doc:name="Throw exception"/>
            </otherwise>
        </choice>
        <collection-aggregator timeout="5000" failOnTimeout="true" doc:name="Collection Aggregator"/>
        <custom-transformer mimeType="text/plain" class="org.mule.transformers.CollectionToXML" doc:name="MessageCollection to XML"/>
        <string-to-byte-array-transformer doc:name="String to Byte Array"/>
        <choice-exception-strategy doc:name="mule-splitter-aggregatorChoice_Exception_Strategy">
            <catch-exception-strategy when="#[exception.causedBy(org.goochjs.muleSplitterAggregator.MuleSplitterAggregatorException)]" doc:name="Catch invalid action">
                <logger message="Exception caught: invalid action ( #[xpath3('/itm:Item/attribute::action', payload, 'STRING')] )" level="INFO" doc:name="Logger"/>
                <set-variable variableName="statusCode" value="400" doc:name="Set statusCode 400"/>
                <set-variable variableName="reason" value="Invalid /Item/@action" doc:name="Set reason"/>
                <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(org.xml.sax.SAXParseException)]" doc:name="Catch XML parse exception">
                <set-variable variableName="statusCode" value="400" doc:name="Set statusCode 400"/>
                <set-variable variableName="reason" value="Invalid XML request payload" doc:name="Set reason"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
        </flow>
    </mule>