src/main/app/mule-splitter-aggregator.xml
<?xml version="1.0" encoding="UTF-8"?>

    <mule
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
        xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
        <http:listener-config name="splitter-endpoint" host="0.0.0.0" port="8081" basePath="/splitter" doc:name="HTTP Listener Configuration" connectionIdleTimeout="5000"/>
        <mulexml:namespace-manager includeConfigNamespaces="true">
        	<mulexml:namespace prefix="itm" uri="http://schemas.goochjs.org/item-v1"/>
        </mulexml:namespace-manager>
    <jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
        
        <flow name="mule-splitter-aggregatorFlow">
    	    <http:listener config-ref="splitter-endpoint" path="/" allowedMethods="post" doc:name="HTTP"/>
        	<splitter expression="#[xpath3('/itm:ItemList/itm:Item', payload, 'NODESET')]" doc:name="Splitter"/>
        <mulexml:dom-to-xml-transformer mimeType="text/xml" outputEncoding="UTF-8" doc:name="DOM to XML"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Post-split logger"/>
        <jms:outbound-endpoint queue="splitter-output" connector-ref="Active_MQ" doc:name="JMS"/>
        <message-chunk-aggregator failOnTimeout="true" doc:name="Message Chunk Aggregator"/>
        <logger level="INFO" doc:name="Output logger"/>
        </flow>
    </mule>