src/main/app/mule-splitter-aggregator.xml
<?xml version="1.0" encoding="UTF-8"?>

    <mule
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
        xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
        <http:listener-config name="splitter-endpoint" host="0.0.0.0" port="8081" basePath="/splitter" doc:name="HTTP Listener Configuration" connectionIdleTimeout="5000"/>
        <mulexml:namespace-manager includeConfigNamespaces="true">
        	<mulexml:namespace prefix="itm" uri="http://schemas.goochjs.org/item-v1"/>
        </mulexml:namespace-manager>
    <jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
        
        <flow name="mule-splitter-aggregatorFlow">
    	    <http:listener config-ref="splitter-endpoint" path="/" allowedMethods="post" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" category="pre-split" doc:name="Pre-split logger"/>
        	<splitter expression="#[xpath3('/itm:ItemList/itm:Item', payload, 'NODESET')]" doc:name="Splitter"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <logger message="#[payload]" level="INFO" doc:name="Post-split logger" category="post-split"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="item-processor" connector-ref="Active_MQ" mimeType="text/xml" doc:name="JMS request-response"/>
        <collection-aggregator timeout="5000" failOnTimeout="true" doc:name="Collection Aggregator"/>
        <custom-transformer mimeType="text/plain" class="org.mule.transformers.CollectionToXML" doc:name="MessageCollection to XML"/>
        <string-to-byte-array-transformer doc:name="String to Byte Array"/>
        <logger level="INFO" category="post-aggregation" doc:name="Post-aggregation logger" message="#[payload]"/>
        </flow>
    <flow name="JMS-flow">
        <jms:inbound-endpoint queue="item-processor" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger level="INFO" category="JMS-sub-flow" doc:name="JMS flow logger" message="#[payload]"/>
        <jms:outbound-endpoint queue="#[message.outboundProperties.JMSReplyTo]" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    </mule>